.no-events{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #673AB7;
    background-color: whitesmoke;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
    max-width: 15rem;
}

.btn{
    border-color: #D1C4E9;
    border-width: 1px;
    color: #D1C4E9;
    padding: 1rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4rem;
}

.btn:hover{
    background-color: #D1C4E9;
    color: white;
}